<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=700">
    <meta charset="UTF-8">
    <title>MovieDB</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="58x58" href="/img/favicon58.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon180.png" />
    <link REL="SHORTCUT ICON" href="/img/favicon.png">
</head>
<body>
<br>

<script type="text/javascript">
function resetInput(id) {
   document.getElementById(id).value="";
}

function resetRadio(id) {
   var ele = document.getElementsByName(id);
   for(var i=0;i<ele.length;i++)
      ele[i].checked = false;
      }
</script>

<form target="/">
    <table>
        <tr>
            <td>
            <table>
                <tr><td>Search by name:</td><td colspan="3"><input type="text" name="name" id="name"></td></tr>
                <tr><td>Search by genre:</td>
                    <td colspan="3">
                        <select name="genre" id="genre">
                            <option value="">None</option>
                            {{genre_menu}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Minimum Rating:</td>
                    <td><input type="text" name="rating" id="rating"></td>
                </tr>
                <tr>
                    <td>Watched:</td>
                    {{watched_radio}}
                    <td><input type="button" id="watch_reset" onclick="resetRadio('watched')" value="reset"></td>
                </tr>
                <tr>
                    <td>Available:</td>
                    {{available_radio}}
                    <td><input type="button" id="avail_reset" onclick="resetRadio('available')" value="reset"></td>
                </tr>
                <tr>
                    <td>IMDB Top 250:</td>
                    {{top250_radio}}
                    <td></td>
                    <td><input type="button" id="top250_reset" onclick="resetRadio('top250')" value="reset"></td>
                </tr>
                <tr>
                    <td><input type="submit"></td>
                    <td colspan="3"><a href="{{app_url}}/">Show All Movies</a></td>
                </tr>
            </table>
            <td width="20"></td>
            <td>
            <table>
                <tr>
                    <td>
                        Sort by:<br>
                        <select name="sort" id="sort">
                            <option value="title" selected="">Title</option>
                            <option value="rating">IMDB Rating</option>
                            <option value="year">Year</option>
                        </select>
                        <select name="direction" id="direction">
                            <option value="ASC">Ascending</option>
                            <option value="DESC">Decending</option>
                        </select>
                        <script type="text/javascript">
                            // Persist search parameters
                            const queryString = window.location.search;
                            const urlParams = new URLSearchParams(queryString);
                            const entries = urlParams.entries();
                            var elements = ['sort', 'direction', 'name', 'rating'];
                            for(const entry of entries) {
                              for (var x=0; x<elements.length; x++) {
                                if (entry[0] == elements[x]) {
                                  var element = document.getElementById(elements[x]);
                                  element.value = entry[1];
                                }
                              }
                            }
                        </script>
                    </td>
                </tr>
            </table>
            </td>
            <td width="200" align="right">
                <a href="{{app_url}}/search">Add a new movie</a>
            </td>
        </tr>
    </table>
</form>
<br>
<table>
    <tr>
        {{pages}}
    </tr>
</table>
<br>
<table style="border-collapse: collapse;">
    <tr><td colspan="5" style="border-bottom: 2px solid black;"></td></tr>
    {{movie_table}}
</table>
</body>
</html>