<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=700">
    <meta charset="UTF-8">
    <title>MovieDB</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="58x58" href="/static/favicon58.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon180.png" />
    <link REL="SHORTCUT ICON" href="/static/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<br>

<script type="text/javascript">
function resetInput(id) {
   document.getElementById(id).value="";
}

function resetRadio(id) {
   var ele = document.getElementsByName(id);
   for(var i=0;i<ele.length;i++)
      ele[i].checked = false;
}

function toggle(imdb_id, db_list) {
    console.log(imdb_id + ' ' + db_list);
    var img = document.getElementById(imdb_id + db_list).src;
    if (img.indexOf('yes.png')!=-1) {
        document.getElementById(imdb_id + db_list).src  = '/static/no.png';
        $.get('/toggle?imdbId=' + imdb_id + '&db_list=' + db_list);
    }
    else {
        document.getElementById(imdb_id + db_list).src = '/static/yes.png';
        $.get('/toggle?imdbId=' + imdb_id + '&db_list=' + db_list);
    }
}

function set_user() {
   var user_id = document.getElementById("user").value;
   console.log(user_id);
   $.get('/user?user=' + user_id);
}
</script>
<form action="/">
    <table>
        <tr valign="top">
            <td width = 400>
                <B>Filters</B>
            <table>
                <tr><td>Name Contains:</td><td colspan="3"><input type="text" name="name" id="name"></td></tr>
                <tr><td>Genre:</td>
                    <td colspan="3">
                        <select name="genre" id="genre">
                            <option value="">None</option>
                            {{genre_menu}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Minimum Rating:</td>
                    <td><input type="text" name="rating" id="rating" size="4"></td>
                </tr>
                <tr>
                    <td>Maximum Runtime:</td>
                    <td><input type="text" name="length" id="length" size="4"> Minutes</td>
                </tr>
                <tr>
                    <td>Year Between:</td>
                    <td><input type="text" name="year_min" id="year_min" size="4"> -
                        <input type="text" name="year_max" id="year_max" size="4"></td>
                </tr>
                <tr>
                    <td>Want to Watch:</td>
                    <td>
                        <select name="wants" id="wants">
                            <option value=""></option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Watched:</td>
                    <td>
                        <select name="watched" id="watched">
                            <option value=""></option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>IMDB Top 250:</td>
                    <td>
                        {{top250_radio}}
                        <input type="button" id="top250_reset" onclick="resetRadio('top250')" value="reset">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit">
                        <button type="button" value="Clear" onclick="location.href = '/';">Clear</button>
                    </td>
                </tr>
            </table>
            <td width="20"></td>
            <td style="height: 100%; min-height:1px;">
            <table style="height: 100%; min-height:1px;">
                <tr valign="top">
                    <td width="320" align="right">
                        User: <b>{{user}}</b><br>
                        <a href="user">Change user</a><br><br>
                    </td>
                </tr>
                <tr valign="bottom">
                    <td>
                        Sort by:<br>
                        <select name="sort" id="sort">
                            <option value="title" selected="">Title</option>
                            <option value="rating">IMDB Rating</option>
                            <option value="year">Year</option>
                            <option value="dateAdded">Date Added</option>
                            <option value="runTime">Runtime</option>
                            <option value="top250rank">IMDB Top 250</option>
                        </select>
                        <select name="direction" id="direction">
                            <option value="ASC">Ascending</option>
                            <option value="DESC">Decending</option>
                        </select><br>
                        Movies per Page:
                        <select name="pagesize" id="pagesize">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="100">100</option>
                        </select>
                    </td>
                </tr>
            </table>
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        // Persist search parameters
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const entries = urlParams.entries();
        var elements = ['sort', 'direction', 'name', 'rating', 'wants', 'watched', 'available', 'user',
        'pagesize', 'length', 'year_max', 'year_min'];
        for(const entry of entries) {
          for (var x=0; x<elements.length; x++) {
            if (entry[0] == elements[x]) {
              var element = document.getElementById(elements[x]);
              element.value = entry[1];
            }
          }
        }
    </script>
</form>
<br>
<table>
    <tr>
        {{pages}}
    </tr>
</table>
<table style="border-collapse: collapse;">
    <tr><td colspan="5" style="height: 0px; border-bottom: 2px solid black;"></td></tr>
    {{movie_table}}
</table>
<table>
    <tr>
        {{pages}}
    </tr>
</table>
</body>
</html>